body {
    font-family: "Montserrat";
    text-align: center;
}

h1 {
    font-size: 3.5rem;
    font-weight: bold;
    line-height: 1.5;
}

h2 {
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
}

.testimonials-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.carousel-item {
    padding: 7% 15%;
}

#press {
    background-color: #ef8172;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

#features {
    padding: 7% 15%;
    position: relative;
    background-color: #fff;
    z-index: 1;
}

#features h3 {
    font-weight: bold;
}

.container-fluid {
    padding: 3% 15% 7%;
}

#features i {
    color: #ef8172;
    margin-bottom: 1rem;
}

#features i:hover {
    color: #ff4c68;
}

p {
    color: #8f8f8f;
    font-weight: 500;
}

.feature-box {
    padding: 5%;
}


/* Title Image */

#title {
    background-color: #ff4c68;
    color: #fff;
    text-align: left;
}

.title-image {
    transform: rotate(25deg);
    width: 60%;
    position: absolute;
    right: 30%;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-weight: 200;
}


/* Navigation Bar */

.navbar {
    padding: 0 0 4.5rem 0;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}


/* Download Buttons */

.download-button {
    margin: 5% 3% 5% 0;
}


/* Testimonials section */

#testimonials {
    padding: 7% 15%;
    background-color: #ef8172;
    color: #fff;
}


/* Pricing */

#pricing {
    padding: 100px;
}

#pricing h3,
button {
    font-weight: bold;
}

.pricing-column {
    padding: 3% 2%;
}

@media (max-width: 1028px) {
    .title-image {
        position: static;
        transform: rotate(0);
    }
    #title {
        text-align: center;
    }
}


/* CTA Area */

#cta {
    background-color: #ff4c68;
    padding: 7% 15%;
    color: #fff;
}

.cta-area h3 {
    margin-bottom: 5%;
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
}


/* Footer Area */

.footer-area {
    padding: 5%;
    background-color: #fff;
}

.footer-area p {
    font-family: "Ubuntu";
}

.social-media i {
    padding: 1%;
}